include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Usługi
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-operator-places.html') Usługi

                .row.margin-bottom-40
                .dashboard-list-box.margin-top-0
                    h4 Szybkie wyszukiwanie
                    .hideseek-box
                        input(id="input-text" name="search" placeholder="Zacznij pisać" type="text" data-list=".default_list" autocomplete="off")
                .dashboard-list-box.margin-top-0
                    h4 Lista Usług

                    ul.default_list
                        li#item-1
                            .list-box-listing
                                .list-box-listing-content
                                    .inner
                                        h3.padding-bottom-20 Analiza próbki
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.
                        li#item-2
                            .list-box-listing
                                .list-box-listing-content
                                    .inner
                                        h3.padding-bottom-20 Badanie Krwi
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.

    include scripts.pug
    script(src='scripts/jquery.hideseek.min.js')
    script.
        $('#input-text').hideseek();