a.dashboard-responsive-nav-trigger(href='#')
    |  Panel Użytkownika
.dashboard-nav
    .dashboard-nav-inner
        ul(data-submenu-title='Nawigacja')
            li.active
                a(href='acount-basic.html')
                    i.sl.sl-icon-settings
                    |  Moje wizyty
            li
                a(href='acount-places.html')
                    i.im.im-icon-Geo-Star
                    |  Moje korzyści i partnerzy
            li
                a(href='acount-points.html')
                    i.im.im-icon-Wallet-2
                    |  Moje punkty zdrowia
            li
                a(href='acount-hospital.html')
                    i.im.im-icon-Hospital
                    |  Zapytaj placówke
            li
                a(href='acount-questions.html')
                    i.im.im-icon-Phone
                    |  Zapytaj konsultanta
            li
                a(href='index.html')
                    i.sl.sl-icon-plus
                    |  Wyszukaj lekarza
        ul(data-submenu-title='Konto')
            li
                a(href='acount-premium-settings.html')
                    i.sl.sl-icon-user
                    | Moje Dane
            li
                a(href='acount-logout.html')
                    i.sl.sl-icon-power
                    |  Wyloguj