include header
body
        // Wrapper
        #wrapper
            include menu
        //
          Content
          ==================================================
        .container
            .row
                .col-md-12
                    section.center
                        // Notice
                        .row
                            .col-md-12
                                .notification.success.closeable.margin-bottom-100.margin-top-100
                                    p.text-center
                                        i.im.im-icon-Yes
                                        |  Pomyślnie wylogowano - Tomasz Kowalski
        // Container / End
        include footer.pug

