<a class="dashboard-responsive-nav-trigger" href="#"><i class="fa fa-reorder"></i> Dashboard Navigation</a>
<div class="dashboard-nav">
  <div class="dashboard-nav-inner">
    <ul data-submenu-title="Nawigacja">
      <li class="active"><a href="acount-basic.html"><i class="sl sl-icon-settings"></i> Moje wizyty</a></li>
      <li><a href="acount-places.html"><i class="im im-icon-Affiliate"></i> Moje korzyści i partnerzy</a></li>
      <li><a href="acount-points.html"><i class="im im-icon-Coins-3"></i> Moje punkty zdrowia</a></li>
      <li><a href="acount-hospital.html"><i class="im im-icon-Hospital"></i> Zapytaj placówke</a></li>
      <li><a href="acount-questions.html"><i class="im im-icon-Phone"></i> Zapytaj konsultanta</a></li>
      <li><a href="acount-logout.html"><i class="sl sl-icon-plus"></i> Wyszukaj lekarza</a></li>
    </ul>
    <ul data-submenu-title="Konto">
      <li><a href="acount-settings.html"><i class="sl sl-icon-user"></i>Moje Dane</a></li>
      <li><a href="index.html"><i class="sl sl-icon-power"></i> Wyloguj</a></li>
    </ul>
  </div>
</div>