include header.pug
body
    // Wrapper
    #wrapper
        include menu-admin.pug
        // Dashboard
        #dashboard
            //
              Navigation
              ==================================================
            // Responsive Navigation Trigger
            include acount-operator-menu
            // Navigation / End
            //
              Content
              ==================================================
            .dashboard-content
                // Titlebar
                #titlebar
                    .row
                        .col-md-12
                            h2 Umów pacjenta
                            // Breadcrumbs
                            nav#breadcrumbs
                                ul
                                    li
                                        a(href='index.html') Strona główna
                                    li
                                        a(href='acount-settings.html') Umów pacjenta
                .row
                    // Profile
                    .col-lg-12.col-md-12
                        .dashboard-list-box
                            h4.gray Umów pacjenta
                            .dashboard-list-box-static
                                // Details
                                form.form.with-forms
                                    .row.padding-top-20
                                        .col-md-6
                                            label Województwo :
                                            select.chosen-select-no-single
                                                option Małopolskie
                                                option Wielkopolskie
                                        .col-md-6
                                            label Miasto :
                                            select.chosen-select-no-single
                                                option Tarnów
                                                option Kraków
                                    .row.padding-top-20
                                        .col-md-6
                                            label Język:
                                                select(name='language').admin-single
                                                    option( value='Data') Data
                                                    option( value='Data 2') Data 2
                                        .col-md-6

                                            label Specjalizacja:
                                                select(name='specs').admin-single
                                                    option( value='Data') Data
                                                    option( value='Data 2') Data 2
                                    .row.padding-top-20
                                        .col-md-12
                                           label Typ usługi:
                                           p
                                               input(type='radio' id='payment' name='payment')
                                               label(for='payment')  NFZ
                                               br
                                               input(type='radio' id='private' name='payment')
                                               label(for='private')  Prywatnie
                                    .row
                                        .col-md-4
                                            label(for='amount') Wiek przyjmowania dzieci:
                                            input#amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                            #slider-range.margin-top-70
                                        .col-md-4
                                            label(for='amount2') Wiek przyjmowania dorosłych:
                                            input#amount2(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                            #slider-range2.margin-top-70
                                        .col-md-4
                                            label(for='amount3') Godziny pracy placówki:
                                            input#amount3(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                            #slider-range3.margin-top-70
                                    // More Search Options / End
                                    button(type="submit").button.fullwidth.margin-top-30 Wyszukaj
                        .padding-bottom-50
                        h3 Wyniki wyszukiwania :
                        .padding-bottom-50
                        // start
                        .col-md-12.col-md-12.doctor-single.margin-bottom-50
                           .row.background-doctor-title
                               .col-md-2.mobile-hidden
                                   img(src='https://dummyimage.com/125x100/000/fff')
                               .col-md-10.col-sm-12
                                   h3.doctor-title
                                       strong
                                           u
                                               a(href="#") Lek med. Monika Szmit
                                   span  Lekarz Ogólny / Medycyna Pracy
                           .row
                               .col-md-12
                                   .row.padding-bottom-30
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Termin Wizyty :
                                               div(style="font-size:32px;padding-top:40px")
                                                   |  11 marca 2017
                                               div.padding-top-10.margin-bottom-20
                                                   a(href="#")
                                                       i Kolejny Termin >>
                                       .col-sm-6.col-md-6
                                           div
                                               strong Wybierz godzinę wizyty:
                                           div.margin-top-30.margin-bottom-30
                                               .fc-event-simple 11:00
                                               .fc-event-simple 13:00
                                               .fc-event-simple 14:00
                                               .fc-event-simple 16:00
                           .row.doctor-info
                               .col-md-12
                                   .row.padding-bottom-10
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Nazwa  Placówki:
                                               p
                                                   |  Centermed Tarnów
                                       .col-sm-6.col-md-6
                                           div
                                               strong
                                                   |  Adres:
                                               p
                                                   |  Ulica Szujskiego 33
                        // end
                        // start
                        .col-md-12.col-md-12.doctor-single.margin-bottom-50
                           .row.background-doctor-title
                               .col-md-2.mobile-hidden
                                   img(src='https://dummyimage.com/125x100/000/fff')
                               .col-md-10.col-sm-12
                                   h3.doctor-title
                                       strong
                                           u
                                               a(href="#") Lek med. Monika Szmit
                                   span  Lekarz Ogólny / Medycyna Pracy
                           .row
                               .col-md-12
                                   .row.padding-bottom-30
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Termin Wizyty :
                                               div(style="font-size:32px;padding-top:40px")
                                                   |  11 marca 2017
                                               div.padding-top-10.margin-bottom-20
                                                   a(href="#")
                                                       i Kolejny Termin >>
                                       .col-sm-6.col-md-6
                                           div
                                               strong Wybierz godzinę wizyty:
                                           div.margin-top-30.margin-bottom-30
                                               .fc-event-simple 11:00
                                               .fc-event-simple 13:00
                                               .fc-event-simple 14:00
                                               .fc-event-simple 16:00
                           .row.doctor-info
                               .col-md-12
                                   .row.padding-bottom-10
                                       .col-sm-6.col-md-6
                                           div.padding-left-25
                                               strong
                                                   |  Nazwa  Placówki:
                                               p
                                                   |  Centermed Tarnów
                                       .col-sm-6.col-md-6
                                           div
                                               strong
                                                   |  Adres:
                                               p
                                                   |  Ulica Szujskiego 33
                        // end
                    .col-md-12
                        .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
    // Wrapper / End
    include scripts
    script(type='text/javascript', src='scripts/rangeslider.min.js')
    script.
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 17,
                values: [0, 12],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1));
            $("#slider-range2").slider({
                range: true,
                min: 18,
                max: 110,
                values: [18, 75],
                slide: function (event, ui) {
                    $("#amount2").val(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount2").val($("#slider-range2").slider("values", 0) +
                " - " + $("#slider-range2").slider("values", 1));

            $("#slider-range3").slider({
                range: true,
                min: 0,
                max: 24,
                values: [6, 18],
                slide: function (event, ui) {
                    $("#amount3").val(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount3").val($("#slider-range3").slider("values", 0) +
                " - " + $("#slider-range3").slider("values", 1));

            $(".admin-single").select2({
                placeholder: 'Wybierz jezyk',
                allowClear: true,
                theme: 'admin',
            });

            $(".admin-single2").select2({
                placeholder: 'Wybierz specjalizacje',
                allowClear: true,
                theme: 'admin',
            });

        });
