include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Dodaj pacjenta do programu zdrowja
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-operator-specs.html') Dodaj pacjenta do programu zdrowja
                .row
                    .dashboard-list-box
                        h4 Dodaj pacjenta do programu zdrowja:
                        form.form-box
                            .col-md-6
                                label Imie:
                                input(name='name', type='text')
                            .col-md-6
                                label Nazwisko:
                                input(name='surname', type='text')
                            .col-md-6
                                label Data urodzenia:
                                input(name='birthday', type='text' placeholder="RRRR-MM-DD")
                            .col-md-6
                                label Numer telefonu kontaktowego:
                                input(name='phone', type='text')
                            .col-md-6
                                label Adres e-mail
                                input(name='e-mail', type='text')
                            .col-md-6
                                label Adres e-mail
                                input(name='e-mail-validation', type='text')
                            .col-md-12.padding-bottom-20
                                button.button.margin-top-15 Dodaj pacjenta
    include scripts.pug
    script(src='scripts/jquery.hideseek.min.js')
    script.
        $('#input-text').hideseek();