include header.pug
body
        // Wrapper
        #wrapper
            include menu-admin.pug
            // Dashboard
            #dashboard
                //
                  Navigation
                  ==================================================
                // Responsive Navigation Trigger
                include acount-basic-menu
                // Navigation / End
                //
                  Content
                  ==================================================
                .dashboard-content
                    // Titlebar
                    #titlebar
                        .row
                            .col-md-12
                                h2 Moje Dane
                                // Breadcrumbs
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='index.html') Strona główna
                                        li
                                            a(href='acount-settings.html') Moje Dane
                    .row
                        // Profile
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-0
                                h4.gray Moje dane
                                .dashboard-list-box-static
                                    // Details
                                    form.my-profile
                                        label Nazwisko:
                                        input(name='surname', type='text')
                                        label Imie:
                                        input(name='name', type='text')
                                        label Numer telefonu kontaktowego:
                                        input(name='phone', type='text')
                                        label Adres e-mail
                                        input(name='email', type='text')
                                        label Typ konta
                                        select.chosen-select-no-single
                                            option Konto Podstawowe
                                            option Konto Premium
                                        p.padding-top-30
                                            input#newsletter-agree(type='checkbox', name='newsletter-agree' value='newsletter-agree')
                                            span.newsletter-agree  Wyrażam zgodę na korespondencję elektroniczną.
                                        button.button.margin-top-15 Zapisz zmiany
                        // Change Password
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-60
                                h4.gray Zmień hasło
                                .dashboard-list-box-static
                                    // Change Password
                                    .my-profile
                                        label.margin-top-0 Obecne hasło
                                        input(type='password')
                                        label Nowe hasło
                                        input(type='password')
                                        label Potwierdź nowe hasło
                                        input(type='password')
                                        button.button.margin-top-15 Zmień hasło
                        // Copyrights
                        .col-md-12
                            .copyrights © 2017 Grupa Medycyna Polska
                // Content / End
            // Dashboard / End
        // Wrapper / End
        include scripts
        script(type='text/javascript').
            $(".newsletter-agree").click(function () {
                if ($('#newsletter-agree').is(":checked")) {
                    $('#newsletter-agree').prop("checked", false);
                } else {
                    $('#newsletter-agree').prop("checked", true);
                }
            });
