include  header.pug
body
        // Wrapper
        #wrapper
            include menu-admin.pug
            // Dashboard
            #dashboard
                //
                  Navigation
                  ==================================================
                // Responsive Navigation Trigger
                include acount-premium-menu
                // Navigation / End
                //
                  Content
                  ==================================================
                .dashboard-content
                    // Titlebar
                    #titlebar
                        .row
                            .col-md-12
                                h2 Moje punkty
                                // Breadcrumbs
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='index.html') Strona główna
                                        li
                                            a(href='acount-basic.html') Moje Punkty Zdrowia
                    .row
                        // Listings
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-0
                                h4
                                    i.im.im-icon-Coin
                                    |  Stan Konta
                                ul
                                    li
                                        .list-box-listing
                                            .list-box-content
                                                .inner
                                                    h3
                                                        i.im.im-icon-Wallet-2
                                                        |  115 punktów
                        // Listings
                        .col-lg-12.col-md-12
                            .dashboard-list-box.margin-top-60
                                h4
                                    i.im.im-icon-Reload-3
                                    |  Historia
                                ul
                                    li
                                        .list-box-listing
                                            .list-box-content
                                                .inner
                                                    .row
                                                        .col-md-1.mobile-hidden
                                                            i.im.im-icon-Remove.big-icon.big-red
                                                        .col-md-11
                                                            h3.mobile-red Badanie kardiologiczne - Janusz Nowak
                                                            span.big-red -100 punktów
                                    li
                                        .list-box-listing
                                            .list-box-content
                                                .inner
                                                    .row
                                                        .col-md-1.mobile-hidden
                                                            i.im.im-icon-Add.big-icon.big-green
                                                        .col-md-11
                                                            h3.mobile-green Badanie kardiologiczne - Janusz Nowak
                                                            span.big-green +10 punktów
                        // Copyright
                        .col-md-12
                            .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
        // Wrapper / End
        include scripts.pug

