<a class="dashboard-responsive-nav-trigger" href="#"> Panel Użytkownika</a>
<div class="dashboard-nav">
  <div class="dashboard-nav-inner">
    <ul data-submenu-title="Nawigacja">
      <li class="active"><a href="acount-operator-workers.html"><i class="sl sl-icon-settings"></i> Pracownicy medyczni</a></li>
      <li><a href="acount-operator-specs.html"><i class="im im-icon-Geo-Star"></i> Specjalizacje</a></li>
      <li><a href="acount-operator-places.html"><i class="im im-icon-Wallet-2"></i> Poradnie</a></li>
      <li><a href="acount-operator-list.html"><i class="im im-icon-Hospital"></i> Pacjenci</a></li>
      <li><a href="acount-operator-services.html"><i class="im im-icon-Phone"></i> Umów pacjenta</a></li>
      <li><a href="acount-operator-contact.html"><i class="sl sl-icon-plus"></i> Kontakt GMP</a></li>
      <li><a href="acount-operator-register.html"><i class="sl sl-icon-user"></i>  Dodaj Zlecenie</a></li>
    </ul>
  </div>
</div>