include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Dodaj zlecenie
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-settings.html') Dodaj zlecenie
            .row
                // Profile
                .col-lg-12.col-md-12
                    .dashboard-list-box.margin-top-0
                        h4.gray Dodaje zlecenie
                        form.dashboard-list-box-static
                            label Usługa:
                            select(name='usluga').admin-single
                                option( value='Data 5') Data 5
                                option( value='Data 6') Data 6
                            .padding-bottom-20
                            label Pracownik:
                            select(name='pracownik').admin-single
                                option( value='Data') Data
                                option( value='Data 2') Data 2
                            .padding-bottom-20
                            label Data:
                            input(data-provide="datepicker").datapicker
                            label Pacjent:
                            .padding-bottom-20
                                select(name='pacjent').admin-single
                                    option( value='Data 3') Data 3
                                    option( value='Data 4') Data 4

                            button.button.margin-top-15 Dodaj zlecenie
                // Copyrights
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska
        // Content / End
        // Dashboard / End
        // Wrapper / End

    include scripts.pug
    script( src='scripts/bootstrap-datepicker.min.js')
    script.
        $(document).ready(function () {
            $(".admin-single").select2({
                placeholder: 'Nazwa Pracownika',
                allowClear: true,
                theme: 'admin',
            });

            $('.datepicker').datepicker({
                language: 'en'
            });

            $.fn.datepicker.dates['en'] = {
                days:["Niedziela","Poniedziałek","Wtorek","Środa","Czwartek","Piątek","Sobota"],daysShort:["Niedz.","Pon.","Wt.","Śr.","Czw.","Piąt.","Sob."],
                daysMin:["Ndz.","Pn.","Wt.","Śr.","Czw.","Pt.","Sob."],
                months:["Styczeń","Luty","Marzec","Kwiecień","Maj","Czerwiec","Lipiec","Sierpień","Wrzesień","Październik","Listopad","Grudzień"],
                monthsShort:["Sty.","Lut.","Mar.","Kwi.","Maj","Cze.","Lip.","Sie.","Wrz.","Paź.","Lis.","Gru."],
                today:"Dzisiaj",
                clear: "Wyczyść",
                format: "dd/mm/yyyy",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 1
            };
        });
