a.dashboard-responsive-nav-trigger(href='#')
    |  Panel Użytkownika
.dashboard-nav
    .dashboard-nav-inner
        ul(data-submenu-title='Nawigacja')
            li.active
                a(href='acount-basic.html')
                    i.sl.sl-icon-settings
                    |  Moje wizyty
            li
                a(href='index.html')
                    i.sl.sl-icon-plus
                    |  Wyszukaj lekarza
        ul(data-submenu-title='Konto')
            li
                a(href='acount-settings.html')
                    i.sl.sl-icon-user
                    | Moje Dane
            li
                a(href='acount-logout.html')
                    i.sl.sl-icon-power
                    |  Wyloguj
        .update-button
            .row
                a(href="").premium
                    .col-md-4.cold-sm-4.col-xs-4
                        i.im.im-icon-Betvibes.update-icons
                    .col-md-8.col-sm-8.col-xs-8.update-text
                        |Przejdz do
                        strong  PREMIUM
