include header.pug
body

    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          =================================================
        .dashboard-content



            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Wyszukaj w bazie
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-basic.html') Wyszukaj w bazie
                .row
                    .dashboard-list-box
                        h4 Wyszukaj pracownika:
                        form.form-box
                            .row
                                .col-md-4
                                    label Imie:
                                    input(name='name', type='text')
                                .col-md-4
                                    label Nazwisko:
                                    input(name='surname', type='text')
                                .col-md-4
                                    label PWZ:
                                    input(name='pwz', type='text')
                            .row
                                .col-md-6
                                    label Specjalizacja:
                                    select(name='specs').admin-specs
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-6
                                    label Usługa:
                                    select(name='serv').admin-serv
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                            .row.padding-top-20
                                .col-md-4
                                    label Poradnia:
                                    select(name='medical').admin-medical
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-4
                                    label Placówka Medyczna:
                                    select(name='place').admin-place
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-4
                                    label Podmiot medyczny:
                                    select(name='vendor').admin-vendor
                                        option
                                        option( value='Data 5') Data 5
                                        option( value='Data 6') Data 6
                                .col-md-12.padding-bottom-20.padding-top-20
                                    button.button.margin-top-15 Wyszukaj lekarza
                .row
                    .dashboard-list-box
                        h4 Filtr Wyników:
                        .hideseek-box
                            input(id="input-text" name="search" placeholder="Zacznij pisać" type="text" data-list=".default_list" autocomplete="off")
                    .dashboard-list-box.margin-top-0
                        h4
                            i.im.im-icon-Reload-3
                            |  Pracownicy
                        ul.title-list
                            li
                                .data-list
                                    .row
                                        .col-md-3 Imie Nazwisko
                                        .col-md-3 PWZ / Specjalizacja
                                        .col-md-3 Jezyki
                                        .col-md-3 Wiek Pacjentów
                        ul
                            li
                                .list-box-listing
                                    .list-box-content
                                        .inner
                                            .row
                                                .col-md-12
                                                    .data-list
                                                        .col-md-3(data-toggle="modal"  data-target="#modal-person" data-type="doctor" data-value="Janusz Nowak") Janusz
                                                            br
                                                            | Nowak
                                                        .col-md-3(data-toggle="modal"  data-target="#modal-doctor" data-type="specs" data-value="chirurgia") 001
                                                            br
                                                            | Chirurgia ogólnna
                                                        .col-md-3 Polski / Angielski
                                                        .col-md-3 Dzieci : Nie
                                                            br
                                                            | Dorośli : 30-50
                                            .row
                                                .col-md-12
                                                    p.doctor-level1-open
                                                        i.sl.sl-icon-plus
                                                    .doctor-list-level1
                                                        h3 Lista zatrudnienia
                                                        ul.operator-doctor-location
                                                            li.operator-doctor-single
                                                                .vendor(data-toggle="modal" data-target="#modal-vendor" data-type="vendor" data-value="NewMedica")
                                                                    strong Podmiot Medyczny:
                                                                    |  New Medica
                                                                    br
                                                                .places(data-toggle="modal" data-target="#modal-place" data-type="place" data-value="słoneczna")
                                                                    strong Placówka:
                                                                    |  Centermed Słoneczna
                                                                    br
                                                                .services(data-toggle="modal" data-target="#modal-service" data-type="service" data-value="Rehabilitacja")
                                                                    strong Poradnia:
                                                                    |  Rehabilistacja
                                                                p.doctor-level2-open Cennik usług
                                                                .doctor-list-level2
                                                                        h4 Cennik usług

                                                                        ul.doctor-listing
                                                                            li(data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie ogólne")
                                                                                span Badania Ogólne
                                                                                span 130 pln
                                                                            li(data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie specjalistyczne")
                                                                                span Badania specjalistyczne
                                                                                span 130 pln
                                                                            li(data-toggle="modal" data-target="#modal-items" data-type="items" data-value="Badanie ogólne")
                                                                                span Badania Ogólne
                                                                                span 130 pln
                // Copyright
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska

    #modal-person.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Pacjent
                            .modal-body
                                p Opis pacjenta
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-doctor.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Lekarz
                            .modal-body
                                p Opis Lekarza
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-vendor.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Podmiot Medyczy
                            .modal-body
                                p Opis podmiotu
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-place.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Placówka
                            .modal-body
                                p Opis placówki
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-service.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Poradnia
                            .modal-body
                                p Opis poradni
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
    #modal-items.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .container
                .modal-content.margin-top-120
                    .row
                        .col-md-12
                            .modal-header

                                button.close(type='button', data-dismiss='modal', aria-label='zamknij')
                                    span(aria-hidden='true') ×
                                h4.modal-title Badania ogólne
                            .modal-body
                                p Opis badania
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Zamknij


    include scripts.pug
    script(type='text/javascript', src='scripts/modal.min.js')
    script.
        $(document).on("click", '.doctor-level2-open', function (event) {
            event.preventDefault();
            $(this).closest('p').next('.doctor-list-level2').slideToggle('slow',function(){ });
        });

        $(document).on("click", '.doctor-level1-open', function (event) {
            event.preventDefault();
            $(this).closest('p').next('.doctor-list-level1').slideToggle('slow', function () { });
        });

        $(document).ready(function () {
            $(".admin-specs").select2({
                placeholder: 'Wybierz specjalizacje',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-serv").select2({
                placeholder: 'Wybierz usługę',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-medical").select2({
                placeholder: 'Wybierz poradnie',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-place").select2({
                placeholder: 'Wybierz placówka',
                allowClear: true,
                theme: 'admin',
            });
            $(".admin-vendor").select2({
                placeholder: 'Wybierz podmiot',
                allowClear: true,
                theme: 'admin',
            });
        })
