include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-basic-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Lista partnerów
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-basic.html') Lista partnerów
            .row.margin-bottom-40
                form.form.with-forms
                    .col-md-6
                        // City
                        h5 Wybierz rodzaj
                        select.chosen-select-no-single
                            option Oferty sportowe
                            option Oferty medyczne
                    .col-md-4
                        // City
                        h5 Lokalizacja
                        select.chosen-select-no-single
                            option Tarnów
                            option Kraków
                    .col-md-2.padding-top-40
                        button(type="Submit").button Wyszukaj
            .dashboard-list-box.margin-top-0
                h4 Rodzaj Oferty
                ul
                    li
                        .list-box-listing
                            .list-box-listing-content
                                .inner
                                    .row
                                        .col-md-8
                                            strong Oferty sportowe
                                            br
                                            h3 Zniżki w salonie urody Cera-Plus
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.
                                        .col-md-4
                                            strong Lokalizacja
                                            br
                                            |                                             Ulica Waligóry
                                            br
                                            |                                             Tarnów 33-100
                    li
                        .list-box-listing
                            .list-box-listing-content
                                .inner
                                    .row
                                        .col-md-8
                                            strong Oferty medyczne
                                            br
                                            h3 Darmowe badania stomatologiczne
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum, delectus earum exercitationem expedita fugiat hic, id inventore iusto nostrum perferendis perspiciatis.
                                        .col-md-4
                                            strong Lokalizacja
                                            br
                                            |                                             Ulica Waligóry
                                            br
                                            |                                             Tarnów 33-100
                    li
                        .list-box-listing
                            .list-box-listing-content
                                .inner
                                    .row
                                        .col-md-8
                                            strong Oferty medyczne
                                            br
                                            h3 Warsztaty medyczne
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci animi architecto autem blanditiis culpa cum.
                                        .col-md-4
                                            strong Lokalizacja
                                            br
                                            |                                             Ulica Waligóry
                                            br
                                            |                                             Tarnów 33-100
            .row
                // Copyright
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
        // Wrapper / End
    include scripts.pug
