a.dashboard-responsive-nav-trigger(href='#')
    |  Panel Użytkownika
.dashboard-nav
    .dashboard-nav-inner
        ul(data-submenu-title='Nawigacja')
            li.active
                a(href='acount-operator-workers.html')
                    i.sl.sl-icon-settings
                    |  Wyszukaj w bazie
            li
                a(href='acount-operator-list.html')
                    i.im.im-icon-Business-Mens
                    |  Pacjenci
            li
                a(href='acount-operator-specs.html')
                    i.im.im-icon-Bulleted-List
                    |  Specjalizacje
            li
                a(href='acount-operator-places.html')
                    i.im.im-icon-Hospital
                    |  Poradnie
            li
                a(href='acount-operator-items.html')
                    i.im.im-icon-Chemical-3
                    |  Usługi
            li
                a(href='acount-operator-zdrowia.html')
                    i.im.im-icon-Heart-2
                    |  Dodaj do prog. Zdrowia
            li
                a(href='acount-operator-register.html')
                    i.im.im-icon-Phone
                    |  Umów pacjenta
            li
                a(href='acount-operator-services.html')
                    i.sl.sl-icon-user
                    |   Dodaj Zlecenie
            li
                a(href='acount-operator-contact.html')
                    strong Kontakt GMP