include header.pug
body
        // Wrapper
        #wrapper
            include menu-admin
            // Dashboard
            #dashboard
                //
                  Navigation
                  ==================================================
                // Responsive Navigation Trigger
                include acount-premium-menu
                // Navigation / End
                //
                  Content
                  ==================================================
                .dashboard-content
                    // Titlebar
                    #titlebar
                        .row
                            .col-md-12
                                h2 Zapytaj konsultanta
                                // Breadcrumbs
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='index.html') Strona główna
                                        li
                                            a(href='acount-basic.html') Zapytaj konsultanta
                    .row
                        // Section
                        .add-listing-section.margin-top-45
                            // Headline
                            .add-listing-headline
                                h3
                                    i.sl.sl-icon-docs
                                    |  Formularz kontaktowy
                            // Description
                            form.form
                                h5 Treśc pytania:
                                textarea#summary.WYSIWYG(name='content', cols='40', rows='3', spellcheck='true')
                                button(type='submit').button.submit
                                    | Wyślij
                                    i.fa.fa-arrow-circle-right
                        // Copyright
                        .col-md-12
                            .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
        // Wrapper / End
        include scripts
