include header.pug
body
    include menu-admin.pug
        // Dashboard
    #dashboard
        // Responsive Navigation Trigger
        include acount-operator-menu
        // Navigation / End
        //
          Content
          ==================================================
        .dashboard-content
            // Titlebar
            #titlebar
                .row
                    .col-md-12
                        h2 Pacjenci
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='index.html') Strona główna
                                li
                                    a(href='acount-operator-specs.html') Pacjenci
                .row
                    .dashboard-list-box
                        h4 Wyszukaj pacjenta:
                        form.form-box
                            .col-md-4
                                label Imie:
                                input(name='name', type='text')
                            .col-md-4
                                label Nazwisko:
                                input(name='surname', type='text')
                            .col-md-4
                                label Numer telefonu kontaktowego:
                                input(name='phone', type='text')
                            .col-md-12.padding-bottom-20
                                button.button.margin-top-15 Wyszukaj pacjenta
                .row
                    .dashboard-list-box
                        h4 Filtr Wyników:
                        .hideseek-box
                            input(id="input-text" name="search" placeholder="Zacznij pisać" type="text" data-list=".default_list" autocomplete="off")
                    .dashboard-list-box.margin-top-0
                        h4
                            i.im.im-icon-Reload-3
                            |  Pacjenci
                        ul.title-list
                            li
                                .data-list
                                    .row
                                        .col-md-3 Imie Nazwisko
                                        .col-md-3 Dane kontakowe
                                        .col-md-3 Adres
                                        .col-md-3 Typ konta
                        ul.default_list
                            li
                                .list-box-listing
                                    .list-box-content
                                        .inner
                                            .row
                                                .col-md-12
                                                    .data-list
                                                        .col-md-3 Janusz
                                                            br
                                                            | Nowak
                                                        .col-md-3 112-121-211
                                                            br
                                                            | janusz@nowak.pl
                                                        .col-md-3 Skargi 27/14
                                                            br
                                                            | 33-100 Tarnów
                                                        .col-md-3 Standard
                                            .row
                                                .col-md-12
                                                    p.doctor-level1-open
                                                        i.sl.sl-icon-plus
                                                    .doctor-list-level1
                                                        h3 Nadchodzące wizyty :
                                                        ul.operator-doctor-location
                                                            li.operator-doctor-single
                                                                strong Badanie kardiologiczne - Janusz Nowak
                                                                br
                                                                | Data wizyty : 11 października 2017
                                                                br
                                                                | Godzina: 11:00
                                                                br
                                                                | Adres : Ulica Szujskiego 33
                                                                br
                                                                | Podmiot : Centermed Tarnów
                                                                br
                                                                | Cena badania : 150 pln
                                                                br
                                                                |  Status : zrealizowana
                                                                a(href='#').buttons-to-right2.close
                                                                    i.sl.sl-icon-close
                                                                    |  Odwołaj wizyte
                                                        h3 Ostatnie wizyty :
                                                        ul.operator-doctor-location
                                                            li.operator-doctor-single
                                                                strong Badanie kardiologiczne - Janusz Nowak
                                                                br
                                                                | Data wizyty : 11 października 2017
                                                                br
                                                                | Godzina: 11:00
                                                                br
                                                                | Adres : Ulica Szujskiego 33
                                                                br
                                                                | Podmiot : Centermed Tarnów
                                                                br
                                                                | Cena badania : 150 pln
                                                                br
                                                                |  Status : zrealizowana
                // Copyright
                .col-md-12
                    .copyrights © 2017 Grupa Medycyna Polska

    include scripts.pug
    script.
        $(document).on("click", '.doctor-level2-open', function (event) {
            event.preventDefault();
            var temp = $(this).closest('p').next('.doctor-list-level2').slideToggle('slow',function(){

            });
        });

        $(document).on("click", '.doctor-level1-open', function (event) {
            event.preventDefault();
            var temp = $(this).closest('p').next('.doctor-list-level1').slideToggle('slow', function () {

            });
        });
    script(src='scripts/jquery.hideseek.min.js')
    script.
        $('#input-text').hideseek();

