include header.pug
body
    // Wrapper
    #wrapper
        include menu-admin
        // Dashboard
        #dashboard
            //
              Navigation
              ==================================================
            // Responsive Navigation Trigger
            include acount-basic-menu
            // Navigation / End
            //
              Content
              ==================================================
            .dashboard-content
                // Titlebar
                #titlebar
                    .row
                        .col-md-12
                            h2 Historia wizyt
                            // Breadcrumbs
                            nav#breadcrumbs
                                ul
                                    li
                                        a(href='index.html') Strona główna
                                    li
                                        a(href='acount-basic.html') Moje wizyty
                .row
                    // Notice
                    .row
                        .col-md-12
                            .notification.success.closeable.margin-bottom-30
                                p Pomyślnie zalogowano - Tomasz Kowalski
                                a.close(href='#')
                    // Listings
                    .col-lg-12.col-md-12
                        .dashboard-list-box.margin-top-0
                            h4
                                i.im.im-icon-Clock
                                |  Najbliższe wizyty lekarskie
                            ul
                                li
                                    .list-box-listing
                                        .list-box-content
                                            .inner
                                                h3  Badanie kardiologiczne - Janusz Nowak
                                                .row
                                                    .col-md-12
                                                        | Data wizyty : 11 października 2017
                                                        br
                                                        | 												Godzina: 11:00
                                                        br
                                                        | 												Adres : Ulica Szujskiego 33
                                                        br
                                                        | 												Podmiot : Centermed Tarnów
                                                        br
                                                        | 												Cena badania : 150 pln
                                                        br
                                                        | 												Status : zrealizowana
                                                        br
                                    a(href='#').buttons-to-right.close
                                        p.button.gray
                                            i.sl.sl-icon-close
                                            |  Odwołaj wizytę
                    // Listings
                    .col-lg-12.col-md-12
                        .dashboard-list-box.margin-top-60
                            h4
                                i.im.im-icon-Reload-3
                                |  Odbyte wizyty lekarskie
                            ul
                                li
                                    .list-box-listing
                                        .list-box-content
                                            .inner
                                                h3 Badanie kardiologiczne - Janusz Nowak
                                                .row
                                                    .col-md-12.padding-bottom-20
                                                        | Data wizyty : 11 października 2017
                                                        br
                                                        | Godzina: 11:00
                                                        br
                                                        | Adres : Ulica Szujskiego 33
                                                        br
                                                        | Podmiot : Centermed Tarnów
                                                        br
                                                        | Cena badania : 150 pln
                                                        br
                                                        |  Status : zrealizowana
                    // Copyright
                    .col-md-12
                        .copyrights © 2017 Grupa Medycyna Polska
        // Content / End
    // Dashboard / End
    // Wrapper / End
    include scripts