include header
body
        // Wrapper
        #wrapper
            include menu-admin
            #dashboard
                //
                  Navigation
                  ==================================================
                // Responsive Navigation Trigger
                include acount-premium-menu
                // Navigation / End
                //
                  Content
                  ==================================================
                .dashboard-content
                    // Titlebar
                    #titlebar
                        .row
                            .col-md-12
                                h2 Zapytaj placówke
                                // Breadcrumbs
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='index.html') Strona główna
                                        li
                                            a(href='acount-basic.html') Zapytaj placówke
                    script.
                        function getFile() {
                            document.getElementById("upload-file").click();
                        }
                        function sub(obj) {
                            var file = obj.value;
                            var fileName = file.split("\\");
                            document.getElementById("input-button").innerHTML = "Dodano plik pomyślnie"
                            event.preventDefault();
                        }

                    .row
                        // Section
                        .add-listing-section.margin-top-45
                            // Headline
                            .add-listing-headline
                                h3
                                    i.sl.sl-icon-docs
                                    |  Formularz kontaktowy
                            form(name="ask-form").form.with-forms
                                // City
                                h5 Wybierz kontakt
                                select(name="hospital").chosen-select-no-single
                                    option( value='GMP') Grupa Medycyna Polska Centrala
                                    option( value='Skargi') Centermed - Skargi

                                h5.padding-top-30 Treśc pytania:
                                textarea(name='content', cols='30', rows='3', spellcheck='true')

                                div(onclick='getFile()')#input-button.upload-button Dodaj Plik
                                div(style="height: 0px;width: 0px; overflow:hidden;")
                                    input(id="upload-file" type="file" value="upload" onchange="sub(this)")

                                button(type='submit').button
                                    | Wyślij
                                    i.fa.fa-arrow-circle-right
                        .col-md-12
                            .copyrights © 2017 Grupa Medycyna Polska
            // Content / End
        // Dashboard / End
        // Wrapper / End
        include scripts
