include header
body
    // Wrapper
    #wrapper
        include menu.pug
    //  Titlebar
      ==================================================
    #titlebar.gradient
        .container
            .row
                .col-md-12
                    h2 Aktualności
                    nav#breadcrumbs
                        ul
                            li
                                a(href='#') Strona Główna
                            li Blog
    //
      Content
      ==================================================
    .container
        // Blog Posts
        .blog-page
            .row
                .col-lg-10.col-md-10.col-md-push-1
                    // Blog Post
                    .blog-post
                        // Img
                        a.post-img(href='pages-blog-post.html')
                            img(src='../images/blog-post-03.jpg', alt='')
                        // Content
                        .post-content
                            h3
                                a(href='pages-blog-post.html') Wpis pierwszy
                            ul.post-meta
                                li 12 maja 2017
                            p
                                | Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.
                            a.read-more(href='pages-blog-post.html')
                                | Czytaj dalej ...
                                i.fa.fa-angle-right
                    // Blog Post / End
                    // Blog Post
                    .blog-post
                        // Img
                        a.post-img(href='pages-blog-post.html')
                            img(src='../images/blog-post-03.jpg', alt='')
                        // Content
                        .post-content
                            h3
                                a(href='pages-blog-post.html') Wpis drugi
                            ul.post-meta
                                li 20 czerwiec 2017
                            p
                                | Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.
                            a.read-more(href='pages-blog-post.html')
                                | Czytaj dalej ...
                                i.fa.fa-angle-right
                    // Blog Post / End
                    // Pagination
                    .clearfix
                    .row
                        .col-md-10.col-md-push-1
                            // Pagination
                            .pagination-container.margin-bottom-40
                                nav.pagination
                                    ul
                                        li
                                            a.current-page(href='#') 1
                                        li
                                            a(href='#') 2
                                        li
                                            a(href='#') 3
                                        li
                                            a(href='#')
                                                i.sl.sl-icon-arrow-right
                    // Pagination / End
                // Blog Posts / End
        //
          Footer
          ==================================================
        include footer.pug
        //
          Scripts
          ==================================================
        include scripts.pug