include header
body
    // Wrapper
    #wrapper
        include menu.pug
    //
      Titlebar
      ==================================================
    #titlebar.gradient
        .container
            .row
                .col-md-12
                    h2 Tytuł wpisu
                    // Breadcrumbs
                    nav#breadcrumbs
                        ul
                            li
                                a(href='#') Strona Główna
                            li Blog
    //
      Content
      ==================================================
    .container
        // Blog Posts
        .blog-page
            .row
                // Post Content
                .col-lg-12.col-md-12
                    // Blog Post
                    .blog-post.single-post
                        // Img
                        img.post-img(src='images/blog-post-02.jpg', alt='')
                        // Content
                        .post-content
                            h3 Tytuł wpisu
                            ul.post-meta
                                li 22 maja 2017
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci alias autem consequuntur deserunt dicta distinctio dolorem et eveniet exercitationem explicabo facere fuga, fugit incidunt iste laudantium libero modi natus necessitatibus nobis non odio pariatur perferendis porro, quae, quas quasi qui quod ratione repudiandae sequi sit sunt tempora unde velit voluptate! Alias blanditiis deleniti dolorem earum est iusto maxime perspiciatis possimus qui quidem quisquam, repudiandae similique soluta sunt tenetur vel voluptatibus! Ab adipisci aliquid aperiam aspernatur atque, beatae commodi corporis dolorem doloribus libero maxime nam officiis perferendis quae reiciendis rerum tenetur! A corporis dolor maxime molestiae odit quam quod.
                                |
                                .clearfix
                    // Blog Post / End
                    // Post Navigation
                    ul#posts-nav.margin-top-0.margin-bottom-45
                        li.next-post
                            a(href='#')
                                span Ostatni Wpis
                                | Tytuł wpisu
                        li.prev-post
                            a(href='#')
                                span Wcześniejszy wpis
                                | Tytuł wpisu
                    .clearfix
                // Content / End
        //
          Footer
          ==================================================
        include footer.pug
    //
      Scripts
      ==================================================
    include scripts.pug

