Footer
    #footer.sticky-footer.margin-top-60
    // Main
    .container
        .row
            .col-md-3.col-sm-6.margin-top-20
                h4 Dla Pacjentów
                ul
                    li
                        a(href='#') Zaloguj się
                    li
                        a(href='#') Korzyści
                    li
                        a(href='#') Instrukcje, porady
                    li
                        a(href='#') Widget na moją stronę
                    li
                        a(href='#') FAQ
                    li
                        a(href='#') Kontakt
            .col-md-3.col-sm-6.margin-top-20
                h4 Dla Partnerów
                ul
                    li
                        a(href='#') Apliakcja Mobilna
                    li
                        a(href='#') Indywidualne Konto Zdrowotne
                    li
                        a(href='#') Konto Progamu Zdrowja
                    li
                        a(href='#') Przystąp do Programu Zdrowja
                    li
                        a(href='#') Instrukcje
                    li
                        a(href='#') Informator Medyczny
            .col-md-3.col-sm-6.margin-top-20
                h4 Serwis
                ul
                    li
                        a(href='#') O nas
                    li
                        a(href='#') Prywatność
                    li
                        a(href='#') Regulamin serwisu
                    li
                        a(href='#') Partnerzy technologiczni
                    li
                        a(href='#') Ogłoszenia
                    li
                        a(href='#') Dla Prasy
            .col-md-3.col-sm-12.margin-top-20
                h4 Kontakt
                .text-widget
                    span Grupa Medycyna Polska S.A.
                    br
                    | Biuro:
                    span ul. Żytomierska 5
                    br
                    | 03-360 Warszawa, Polska
                    br
                    a(href='#') biuro@medycynapolska.pl
                    br
                ul.social-list.margin-top-20
                    li
                        a(href='#')
                            i.im.im-icon-Facebook
                    li
                        a(href='#')
                            i.im.im-icon-Twitter
                    li
                        a(href='#')
                            i.im.im-icon-Linkedin
        // Copyright
        .row
            .col-md-12
                .copyrights © 2017 Grupa Medycyna Polska
// Footer / End
// Back To Top Button
#backtotop
    a(href='#')
