doctype html
head
    //
      Basic Page Needs
      ==================================================
    title Listeo
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
      CSS
      ==================================================
    link(rel='stylesheet', href='css/style.min.css')
    link#custom(rel='stylesheet', href='css/custom.min.css')
    link(rel='stylesheet', href='css/jquery-ui.min.css')