include header.pug
body
    #wrapper
        include menu.pug
    //
      Banner
      ==================================================
    .main-search-container(data-background-image='images/main-search-background-01.jpg')
        .main-search-inner
            .container
                .row
                    .col-md-12
                        h2 Wyszukaj Usługę lub Specjaliste
                        h4 Najlepsi lekarze, blisko ciebie w wygodnym terminie...
                        form.main-search-input
                            .main-search-input-item
                                select.doctor-single
                                    option( value='Mo') Montana
                                    option( value='PL') Poland
                            .main-search-input-item
                                 select.doctor-single2
                                    option( value='AL') Alabama
                                    option( value='DE') Dana

                            button.button() Wyszukaj
    //
      Content
      ==================================================
    // Info Section
    .container

        .row
            .col-md-8.col-md-offset-2
                h2.headline.centered.margin-top-80
                    | Grupa Medycyna Polska
                    span.margin-top-25
                        | Jesteśmy jedną z najwiekszych i najszybciej rozwijących się  Polskich grup medycznych aktywnie działąjącą na terenie kraju.
        .row.icons-container.margin-bottom-80
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2.with-line
                    i.im.im-icon-Doctor
                    h3 200 Lekarzy
                    p Różnych specjalizacjiś
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2.with-line
                    i.im.im-icon-Hospital
                    h4 100 Placówek
                    p Na terenie całego kraju
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2.with-line
                    i.im.im-icon-Bulleted-List
                    h3 600 Usług
                    p
                        | Świadczonych w placówkach
            // Stage
            .col-md-3.col-sm-6
                .icon-box-2
                    i.im.im-icon-Business-Mens
                    h4  60 tyś Pacjentów
                    p Obsługiwanych rocznie
    // Info Section / End
    // Fullwidth Section
    section.fullwidth.margin-top-65.padding-top-75.padding-bottom-70(data-background-color='#f8f8f8')
        .container
            .row
                .col-md-12
                    h3.headline.centered.margin-bottom-45
                        | Profity i Korzyści
                        span Dla klientów indywidualnych
                .col-md-12
                    // Listing Item
                    a.listing-item-container(href='#')
                        .listing-item
                            img(src='images/listing-item-01.jpg', alt='')
                            .listing-item-content(style='text-align:right')
                                h3 Skorzysta i Ty !
                                span Dołącz do programu.
                    // Listing Item / End
                .col-md-6
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-Fountain-Pen
                            |  Rejestracja  On-line
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-Calendar
                            |  Historia wizyt
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
                .col-md-6
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-Ticket
                            |  Zniżki u partnerów
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
                    div.padding-bottom-20
                        h3
                            i.im.im-icon-First-Aid
                            |  Oferty medyczne
                        p
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
    // Fullwidth Section / End
    section.fullwidth.margin-bottom-0.padding-top-60.padding-bottom-40(data-background-color='#ffffff')
        // Logo Carousel
        .container
            .row
                .col-md-12
                    h3.headline.centered.margin-bottom-40.margin-top-10
                        | Partnerzy
                        span Razem od wielu lat wspólnie dbamy o zdrowie naszych klientów!
                // Carousel
                .col-md-12
                    .logo-slick-carousel.dot-navigation
                        .item
                            img(src='images/logo-01.png', alt='')
                        .item
                            img(src='images/logo-02.png', alt='')
                        .item
                            img(src='images/logo-03.png', alt='')
                        .item
                            img(src='images/logo-04.png', alt='')
                        .item
                            img(src='images/logo-05.png', alt='')
                        .item
                            img(src='images/logo-06.png', alt='')
                        .item
                            img(src='images/logo-07.png', alt='')
                // Carousel / End
        // Logo Carousel / End
    //
    include footer.pug
    include scripts.pug
    script.
        $(document).ready(function() {
            $(".doctor-single").select2({
                placeholder: 'Lekarz / Specjalizacja / Usługa',
                theme:'classic',
            });

            $(".doctor-single2").select2({
                placeholder: 'Województwo / Miejscowość',
                theme: 'classic',
            });
        });
