include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Content
          ==================================================
        .fullwidth
            .container
                .row.sticky-wrapper
                    .col-lg-12.col-md-12
                        // Titlebar
                        .row.margin-top-50
                            .col-md-12
                                h1 Grupa NewMed
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='#') Strona Główna
                                        li Współpraca
                                        li NewMed
                        .divider.margin-top-30
                        // Overview
                        .row
                                .col-md-4
                                    img(src="https://dummyimage.com/200x100/000/fff").mobile-hidden
                                    h3 Dane kontaktowe
                                    |                         Centralna 443
                                    br
                                    |                         33-100 Warszawa
                                    br
                                    |                         Tel. 889-397-069
                                    br
                                    |                         kontakt@newmed.pl
                                .col-md-8
                                    h3 Informacje dodatkowe
                                    // Description
                                    p(style='text-align: justify;')
                                        | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker.
                                    // Amenities
                        h2.margin-bottom-30.margin-top-50 Jednostki w grupie
                        .divider
                        // Listing Item
                        .col-lg-12.col-md-12.padding-bottom-70
                            .row
                                .col-md-3
                                    img.padding-top-20(src='images/blog-post-01.jpg')
                                .col-md-6
                                    h3 Szpital Szkotnika
                                    strong
                                        i.im.im-icon-Map-Marker
                                        |  Adres placówki
                                    br
                                    |                                     Centermed Tarnów
                                    br
                                    |                                     Ulica Szujskiego 33
                                    br
                                .col-md-3
                                    a.more-button(href='#')
                                        i.im.im-icon-Link-2
                                        |  Więcej
                        .col-lg-12.col-md-12.padding-bottom-70
                            .row
                                .col-md-3
                                    img.padding-top-20(src='images/blog-post-01.jpg')
                                .col-md-6
                                    h3 Szpital Szkotnika
                                    strong
                                        i.im.im-icon-Map-Marker
                                        |  Adres placówki
                                    br
                                    |  Centermed Tarnów
                                    br
                                    |  Ulica Szujskiego 33
                                    br
                                .col-md-3
                                    a.more-button(href='#')
                                        i.im.im-icon-Link-2
                                        |  Więcej
                            // Listing Item / End
        include footer.pug
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')

