include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Content
          ==================================================
        .container
            .row.sticky-wrapper
                .col-md-12
                    h2.margin-top-70.margin-bottom-30 Informacje o lekarzu
                    nav#breadcrumbs
                        ul
                            li
                                a(href='#') Strona Główna
                            li Lekarze
                            li Joanna Nowak
                .col-md-4.mobile-hidden
                    // i.custom-icon.im.im-icon-Business-Woman
                    img(src='https://dummyimage.com/350x300/000/fff')
                .col-md-8
                    .listing-section
                        h3.doctor-title Joanna Nowak
                        span
                            a.listing-address
                            | Lekarz Ogólny / Medycyna Pracy / NFZ
                        // Description
                        p(style='text-align: justify;').margin-bottom-60.margin-top-40
                            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w.
                        // Amenities
                .col-md-12
                    .divider
                .col-md-12

                    h2.margin-bottom-30 Miejsca pracy lekarza i terminy
                #location-1
                    .col-md-12#przychodnia-ogolna-tarnow
                        h3 Ogólna - Tarnów
                    .col-md-4
                        // Contact
                        h4
                          i.im.im-icon-Edit-Map
                          |  Lokalizacja:
                        p
                            // google maps

                        .margin-top-40.background-grey-hospital
                            h4
                                i.im.im-icon-Hospital
                                |  Dane kontaktowe:

                            | Centermed Pułaskiego 22
                            br
                            | 33-100 Tarnów
                            br
                            | 14-312-132-123
                            .divider.margin-top-20
                            h4.hours-mobile.margin-top-20
                                i.sl.sl-icon-clock
                                |  Godziny pracy jednostki
                            .margin-bottom-20
                                ul.list-unstyled.hours
                                    li
                                        span Poniedziałek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Wtorek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Środa
                                        span.bold 8:00 - 14:00
                                    li
                                        span Czwartek
                                        span.bold 8:30 - 16:00
                                    li
                                        span Piątek
                                        span.bold  10:30 - 16:00
                    .col-md-8
                        #calendar.margin-top-10

                    .margin-bottom-30
                        .col-md-12
                            h4.listing-desc-headline Świadczone usługi
                        .col-md-12
                            ul.list-inline2.prices
                                li
                                    span
                                        strong Badania ogólne
                                    span 130 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span 100 pln
                                li
                                    span
                                        strong Analiza medyczna
                                    span 100 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span
                    .col-md-12.margin-top-30
                        .divider
                #location-2
                    .col-md-12#przychodnia-ogolna-krakow
                        h3 Specjalistyka - Kraków
                    .col-md-4
                        // Contact
                        h4
                            i.im.im-icon-Edit-Map
                            |  Lokalizacja:
                        p
                            // google maps

                        .margin-top-40.background-grey-hospital
                            h4
                                i.im.im-icon-Hospital
                                |  Dane kontaktowe:

                            | Centermed Pułaskiego 22
                            br
                            | 33-100 Tarnów
                            br
                            | 14-312-132-123
                            .divider.margin-top-20
                            h4.hours-mobile.margin-top-20
                                i.sl.sl-icon-clock
                                |  Godziny pracy jednostki
                            .margin-bottom-20
                                ul.list-unstyled.hours
                                    li
                                        span Poniedziałek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Wtorek
                                        span.bold  8:30 - 16:00
                                    li
                                        span Środa
                                        span.bold 8:00 - 14:00
                                    li
                                        span Czwartek
                                        span.bold 8:30 - 16:00
                                    li
                                        span Piątek
                                        span.bold  10:30 - 16:00

                    .col-md-8
                        #calendar2.margin-top-10

                    .margin-bottom-30
                        .col-md-12
                            h4.listing-desc-headline Świadczone usługi
                        .col-md-12
                            ul.list-inline2.prices
                                li
                                    span
                                        strong Badania ogólne
                                    span 130 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span 100 pln
                                li
                                    span
                                        strong Analiza medyczna
                                    span 100 pln
                                li
                                    span
                                        strong Badania szczegółowe
                                    span
                    .col-md-12.margin-top-30
                        .divider
        //
          Footer
          ==================================================
        include footer.pug
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')
        script(type='text/javascript', src='scripts/jpanelmenu.min.js')
        script(type='text/javascript', src='scripts/chosen.min.js')
        script(type='text/javascript', src='scripts/slick.min.js')
        script(type='text/javascript', src='scripts/rangeslider.min.js')
        script(type='text/javascript', src='scripts/magnific-popup.min.js')
        script(type='text/javascript', src='scripts/waypoints.min.js')
        script(type='text/javascript', src='scripts/counterup.min.js')
        script(type='text/javascript', src='scripts/jquery-ui.min.js')
        script(type='text/javascript', src='scripts/moment.min.js')
        script(type='text/javascript', src='scripts/scheduler.min.js')
        script(type='text/javascript', src='scripts/fullcalendar.min.js')
        script(type='text/javascript', src='scripts/pl.js')
        script(type='text/javascript', src='scripts/custom.js')

        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&language=en')
        script(type='text/javascript', src='scripts/markerclusterer.js')
        script(type='text/javascript', src='scripts/maps.js')
        script.
            $('#calendar').fullCalendar({
                defaultView: 'agendaThreeDay',
                header: {
                    left: 'prev',
                    right: 'next',
                    center: 'title',
                },
                columnFormat:'dddd D.M',
                titleFormat:'D MMMM ',
                height: 705,
                views: {
                        agendaThreeDay: {
                            type: 'basicWeek',
                            duration: { days:3 },
                            buttonText: '3 dni'
                    }
                },
                events: [
                    {
                        start: '2017-09-03T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T17:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T17:30:00',
                        allDay: false // will make the time show
                    }
                ],
            });
            $('#calendar2').fullCalendar({
                defaultView: 'agendaThreeDay',
                header: {
                    left: 'prev',
                    right: 'next',
                    center: 'title',
                },
                columnFormat: 'dddd D.M',
                titleFormat: 'D MMMM ',
                height: 705,
                views: {
                    agendaThreeDay: {
                        type: 'basicWeek',
                        duration: {days: 3},
                        buttonText: '3 dni'
                    }
                },
                events: [
                    {
                        start: '2017-09-03T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-03T17:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T12:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T13:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T14:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-04T15:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T16:30:00',
                        allDay: false // will make the time show
                    },
                    {
                        start: '2017-09-02T17:30:00',
                        allDay: false // will make the time show
                    }
                ],
            });

