include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
            //
              Titlebar
              ==================================================
            #titlebar.gradient
                .container
                    .row
                        .col-md-12
                            h2 Wyniki wyszukiwania:
                            span  Kardiolog Tarnów
                            // Breadcrumbs
                            nav#breadcrumbs
                                ul
                                    li
                                        a(href='#') Strona Główna
                                    li Wyszukiwanie
            //
              Content
              ==================================================

            //
                Tj rozmawialismy skrypt zeby dzialalo filtrowanie nalezy wygenerowac 3 blocki:
                1. poniżej param_foo
                2. w wyszukiwarce id="foo"
                3. w filtrze linia 346
            .container
                .row
                    .col-lg-9.col-md-8.padding-right-30
                        .row
                            #doctor-list
                                ul.list
                                    li#doctor-1.col-lg-12.col-md-12.doctor-single.margin-bottom-50
                                        .row.background-doctor-title
                                            .col-md-2.mobile-hidden
                                                img(src='https://dummyimage.com/125x100/000/fff')
                                            .col-md-10.col-sm-12
                                                h3.doctor-title
                                                    strong
                                                        u
                                                            a(href="#") Lek med. Monika Szmit
                                                span Lekarz Ogólny / Medycyna Pracy
                                                a(href='#').button.border.doctor-more.mobile-hidden
                                                    i.im.im-icon-Link-2
                                                    |   Więcej >>
                                        .row.searchlist-divider
                                            .col-md-12
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Tarnów
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .hidden(style="display:none")
                                            .param_specs_gastrologia gastrologia
                                            .param_specs_ortopedia ortopedia
                                            .param_lang_pl pl
                                            .param_lang_de de


                                    li#doctor-2.col-lg-12.col-md-12.doctor-single.margin-bottom-50
                                        .row.background-doctor-title
                                            .col-md-2.mobile-hidden
                                                img(src='https://dummyimage.com/125x100/000/fff')
                                            .col-md-10.col-sm-12
                                                h3.doctor-title
                                                    strong
                                                        u
                                                            a(href="#") Lek med. Monika Szmit
                                                span Lekarz Ogólny / Medycyna Pracy
                                                a(href='#').button.border.doctor-more.mobile-hidden
                                                    i.im.im-icon-Link-2
                                                    |   Więcej >>
                                        .row.searchlist-divider
                                            .col-md-12
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Tarnów
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .hidden(style="display:none")
                                            .param_specs_gastrologia gastrologia
                                            .param_lang_pl pl

                                    li#doctor-3.col-lg-12.col-md-12.doctor-single.margin-bottom-50
                                        .row.background-doctor-title
                                            .col-md-2.mobile-hidden
                                                img(src='https://dummyimage.com/125x100/000/fff')
                                            .col-md-10.col-sm-12
                                                h3.doctor-title
                                                    strong
                                                        u
                                                            a(href="#") Lek med. Monika Szmit
                                                span Lekarz Ogólny / Medycyna Pracy
                                                a(href='#').button.border.doctor-more.mobile-hidden
                                                    i.im.im-icon-Link-2
                                                    |   Więcej >>
                                        .row
                                            .col-md-12.searchlist-divider
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Tarnów
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-ogolna-tarnow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .row
                                            .col-md-12.searchlist-divider
                                                .row.padding-bottom-30
                                                    .col-sm-6.col-md-6
                                                        div.padding-left-25
                                                            strong
                                                                |  Nazwa placówki :
                                                            p
                                                                |  Centermed Kraków
                                                        div.padding-left-25
                                                            strong
                                                                |  Adres:
                                                            p
                                                                |  Ulica Szujskiego 33
                                                        div.padding-left-25
                                                            strong
                                                                |  Poradnia:
                                                            p
                                                                |  Ogólna
                                                    .col-sm-6.col-md-6
                                                        div.padding-bottom-20
                                                            select.chosen-select-no-single
                                                                option(selected="selected") Konsultacja - 100pln
                                                                option Badanie szczegółowe - 200pln
                                                                option Zabieg - 200 pln
                                                        div
                                                            strong Wybierz termin wizyty:
                                                        div(style="font-size:14px;")
                                                            |  11 marca 2017
                                                            a.doctor-more2(href="http://gmp.pl/monika-szmit#przychodnia-specjalistyczna-krakow") Pozostałe terminy >>
                                                        div.margin-top-30.margin-bottom-30
                                                            a.fc-event-simple(href='#') 11:00
                                                            a.fc-event-simple(href='#') 13:00
                                                            a.fc-event-simple(href='#') 14:00
                                        .hidden(style="display:none")
                                            .param_specs_gastrologia gastrologia
                                            .param_lang_pl pl
                                            .param_lang_de de

                                ul.pagination
                    //
                      Sidebar
                      ==================================================
                    .col-lg-3.col-md-4.background-grey
                        .sidebar
                            // Widget
                            .widget.margin-bottom-20
                                    form.form.with-forms
                                        //
                                            div
                                                strong Województwo :
                                                select.chosen-select-no-single#location
                                                    option(selected="selected") Wszystkie
                                                    option Małopolskie
                                                    option Wielkopolskie
                                            div.padding-top-30.padding-bottom-30
                                                strong Miasto :
                                                select.chosen-select-no-single#city
                                                    option(selected="selected") Wszystkie
                                                    option Tarnów
                                                    option Kraków
                                        div
                                            // More Search Options
                                            strong(href='#') Specjalizacje :
                                            #specs.checkboxes-form.margin-top-20.margin-bottom-20
                                                input(type='checkbox', id="gastrologia" )
                                                label(for='gastrologia') Gastrologia
                                                input(type='checkbox',  id="ortopedia")
                                                label(for='ortopedia') Ortopedia
                                                input(type='checkbox',  id="kardiologia")
                                                label(for='kardiologia') Kardiologia
                                                input(type='checkbox',  id="psychologia")
                                                label(for='psychologia') Psychologia

                                        div
                                            // More Search Options
                                            strong Jezyki:
                                            #langs.checkboxes-form.margin-top-20.margin-bottom-20
                                                input(type='checkbox'  id='pl')
                                                label(for='pl') Polski
                                                input(type='checkbox'  id='de' )
                                                label(for='de') Niemiecki
                                                input(type='checkbox'  id='uk')
                                                label(for='uk') Ukrainski
                                            //
                                                p
                                                    label(for='amount') Wiek przyjmowania dzieci:
                                                    input#amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                                #slider-range.margin-top-70
                                                p.padding-top-30
                                                    label(for='amount2') Wiek przyjmowania dorosłych:
                                                    input#amount2(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                                                #slider-range2.margin-top-70
                                        // More Search Options / End
                                        button(type="submit").button.fullwidth.margin-top-25 Wyszukaj
                                    // Widget / End
                            // Sidebar / End
        // Wrapper / End
        include footer
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')
        script(type='text/javascript', src='scripts/jpanelmenu.min.js')
        script(type='text/javascript', src='scripts/chosen.min.js')
        script(type='text/javascript', src='scripts/slick.min.js')
        script(type='text/javascript', src='scripts/rangeslider.min.js')
        script(type='text/javascript', src='scripts/magnific-popup.min.js')
        script(type='text/javascript', src='scripts/waypoints.min.js')
        script(type='text/javascript', src='scripts/counterup.min.js')
        script(type='text/javascript', src='scripts/jquery-ui.min.js')
        script(type='text/javascript', src='scripts/custom.js')
        script.

            $("#show-more").click(function () {
                $("#specs-list").fadeToggle();
            });

            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 17,
                values: [0, 17],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                }
            });

            $("#amount").val($("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1)
            );

            $("#slider-range2").slider({
                range: true,
                min: 18,
                max: 110,
                values: [18, 75],
                slide: function (event, ui) {
                    $("#amount2").val(ui.values[0] + " - " + ui.values[1]);
                }

            });

            $("#amount2").val($("#slider-range2").slider("values", 0) +
                " - " + $("#slider-range2").slider("values", 1)
            );

        script(type='text/javascript', src='scripts/list.min.js')
        // filtrowanie i parametryzacja
        script.
            var options = {
                // tutaj trzeba wygenerowac filtry jakie ma obsluzyc skrypt
                valueNames: [
                    'param_lang_pl',
                    'param_lang_de',
                    'param_specs_gastrologia',
                    'param_specs_ortopedia'],
                page: 5,
                pagination: true
            };

            var Doctor = new List('doctor-list', options);

            var param_specs = [];
            var param_lang = [];

            //keyup change
            $('form').on('keyup change', 'input, select, textarea', function() {

                var filter_array = []

                Doctor.filter(function (item) {

                    function filter_builder() {

                        //param_specs
                        param_specs = [];
                        $('#specs input:checked').each(function () {
                            param_specs.push($(this).attr('id'));
                        });

                        if (param_specs.length >= 1) {
                            filter_array[0] = [];
                            for (i = 0; i < param_specs.length; i++) {
                                filter_array[0] = filter_array[0] + 'item.values().param_specs_' + param_specs[i] + ' == "' + param_specs[i] + '"' + ";";
                            }

                            var y = filter_array[0].toString().slice(0, -1);
                            y = y.replace(/;/g, " && ");
                            filter_array[0] = y;

                        } else {

                        }

                        //param_lang
                        param_lang = [];
                        $('#langs input:checked').each(function () {
                            param_lang.push($(this).attr('id'));

                        });

                        if(param_lang.length >= 1 ){
                            filter_array[1] = [];
                            for (i = 0; i < param_lang.length; i++) {
                                filter_array[1] = filter_array[1] +  'item.values().param_lang_'+param_lang[i]+' == "' + param_lang[i] + '"' + ";" ;
                            }

                            var y = filter_array[1].toString().slice(0,-1);
                            y = y.replace(/;/g, " && ");
                            filter_array[1] = y;

                        }else{

                        }

                        /*
                            // filtrowanie lokacji
                            param_location = $('#location').val();
                            //param_location
                            if (param_location.length > 1) {
                                if (param_location == 'Wszystkie') {

                                } else {
                                    filter_array[2] = 'item.values().param_location == "' + param_location + '"';
                                }
                            }

                            param_city = $('#city').val();
                            //param_city
                            if (param_city.length > 1) {
                                if (param_city == 'Wszystkie') {

                                } else {
                                    filter_array[3] = 'item.values().param_city == "' + param_city + '"';
                                }
                            }
                        */

                        /*
                        // pobieranie danych z slidera
                        filter_array[4] = 'item.values().param_child_start <= ' + $("#slider-range").slider("values", 0);
                        filter_array[5] = 'item.values().param_child_end >= ' + $("#slider-range").slider("values", 1);
                        */
                        /*
                        filter_array[6] = 'item.values().adult_start == "' +$("#slider-range2").slider("values", 0);
                        filter_array[7] = 'item.values().adult_end == "' +$("#slider-range2").slider("values", 1);*/


                        return filter_array;
                    };

                    var x = filter_builder();

                    x = x.filter(function (n) {
                        return n != undefined
                    }).join(' && ');

                    console.log(x);
                    if (eval(x)) {
                        return true;
                    } else {
                        return false;
                    }

                });

            });







