include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Content
          ==================================================
        .container
            .row.sticky-wrapper
                .col-lg-12.col-md-12
                    // Titlebar
                    .listing-titlebar.margin-top-70
                        .row
                            .col-md-12
                                h2 Centermed Słowackiego
                                nav#breadcrumbs
                                    ul
                                        li
                                            a(href='#') Strona Główna
                                        li Jednostka
                                        li Centermed Słowackiego
                        .row
                        // Img
                        .col-md-12.margin-top-40.margin-bottom-30
                            img.post-img(src='images/blog-post-02.jpg', alt='')
                    // Overview
                    h2.margin-bottom-30 Informacje
                    .divider
                    .row
                        .col-md-4
                            // Contact
                            h4.margin-top-20
                                i.im.im-icon-Hospital
                                |  Godziny pracy
                            .margin-top-20.margin-bottom-40
                                ul.list-unstyled.hours
                                    li
                                        span.bold Poniedziałek
                                        span 8:30 - 16:00
                                    li
                                        span.bold Wtorek
                                        span 8:30 - 16:00
                                    li
                                        span.bold Środa
                                        span 8:00 - 14:00
                                    li
                                        span.bold Czwartek
                                        span 8:30 - 16:00
                                    li
                                        span.bold Piątek
                                        span 10:30 - 16:00
                                // Contact / End
                            h4 Dane kontaktowe
                            p
                                |  Centralna 443
                                br
                                |  33-100 Warszawa
                                br
                                |  Tel. 889-397-069
                                br
                                |  kontakt@newmed.pl
                        .col-md-8
                            // Opening Hours
                            #singleListingMap-container
                                #singleListingMap2(data-latitude='40.70437865245596', data-longitude='-73.98674011230469', data-map-icon='im im-icon-Hamburger')
                                a#streetView(href='#') Street View
                            // Opening Hours / End
                    // doctor place end
                    .row.margin-bottom-10
                        .col-md-12
                            h3 Opis placówki
                            // Description
                            p(style='text-align: justify;')
                                | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum.
                            // Amenities
                    .divider
                    .row.margin-bottom-10
                        .col-md-12
                            h5.listing-desc-headline Świadczone usługi
                        .col-md-12.margin-bottom-40
                            ul.list-inline3
                                li Badania ogólne
                                li Badania szczegółowe
                                li Analiza medyczna
                                li Badania szczegółowe
                                li Analiza medyczna
                                li Badania szczegółowe
                    .divider
                    .row.margin-bottom-10
                        .col-md-12
                            h5.listing-desc-headline Poradnie w placówce
                        .col-md-12.margin-bottom-40
                            ul.list-inline3
                                li - Badania ogólne
                                li - Badania szczegółowe
                                li - Analiza medyczna
                                li - Badania szczegółowe
                    .divider
                    .row.margin-bottom-30
                        .col-md-12
                            h5.listing-desc-headline Lekarze w placówce
                    .row
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End
                        // Listing Item
                        .col-md-6
                            .row.padding-top-30
                                .col-md-4
                                    img(src='https://dummyimage.com/200x200/000/fff')
                                .col-md-8
                                    h4 Monika Szmit
                                    p Lekarz Ogólny / Medycyna Pracy
                                    div
                                        a(href='#').button.doctor-padding-button
                                            i.im.im-icon-Link-2
                                            |  Więcej
                        // Listing Item / End

        //
          Footer
          ==================================================
        include footer
        //
          Scripts
          ==================================================
        include scripts
        // Maps
        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&language=pl')
        script(type='text/javascript', src='scripts/markerclusterer.js')
        script(type='text/javascript', src='scripts/maps.js')

