header#header-container
    #header.not-sticky
        .container
            .left-side
                #logo
                    a(href='index.html')
                        img(src='images/logo.png', alt='')
                nav#navigation.style-1
                    ul.responsive
                        li
                            a.current(href='#') GMP S.A.
                        li
                            a(href='pages-full-width.html') Współpraca
                        li
                            a(href='blog.html') Aktualności
                        li
                            a(href='pages-contact.html') Kontakt
                .clearfix
            .right-side
                .header-widget
                    a.sign-in
                        i.sl.sl-icon-login
                        |  Zaloguj
                    a.button.border.with-icon.infolinia(href='tel:622-14-14')
                        i.sl.sl-icon-phone
                        span.infolinia-hidden  Infolinia
                        |  622-14-14
nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Menu
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href='#')
                        | GMP S.A.
                        span.sr-only (current)
                li
                    a(href='#') Współpraca
                li
                    a(href='#') Aktualności
                li
                    a(href='#') Kontakt