//
  Header Container
  ==================================================
header#header-container.fixed.fullwidth.dashboard
    // Header
    #header.not-sticky
        .container
            // Left Side Content
            .left-side
                // Logo
                #logo
                    a(href='index.html')
                        img(src='images/logo.png', alt='')
            // Left Side Content / End
            // Right Side Content / End
            .right-side
                // Header Widget
                .header-widget
                    // User Menu
                    .user-menu.mobile-hidden
                        .user-name
                            span
                            | Janusz Nowakowski
                    a.button.border.with-icon
                        |  Wyloguj
                // Header Widget / End
            // Right Side Content / End
    // Header / End
.clearfix
// Header Container / End