
<!--
Header Container
==================================================
-->
<header class="fixed fullwidth dashboard" id="header-container">
  <!-- Header-->
  <div class="not-sticky" id="header">
    <div class="container">
      <!-- Left Side Content-->
      <div class="left-side">
        <!-- Logo-->
        <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>
        <!-- Mobile Navigation-->
        <div class="menu-responsive"><i class="fa fa-reorder menu-trigger"></i></div>
        <!-- Main Navigation-->
        <nav class="style-1" id="navigation">
          <ul id="responsive">
            <li><a class="current" href="#">GMP S.A.</a></li>
            <li><a class="current" href="#">Współpraca</a></li>
            <li><a href="src/pages-blog.html">Aktualności</a></li>
            <li><a href="pages-contact.html">Kontakt</a></li>
          </ul>
        </nav>
        <div class="clearfix"></div>
        <!-- Main Navigation / End-->
      </div>
      <!-- Left Side Content / End-->
      <!-- Right Side Content / End-->
      <div class="right-side">
        <!-- Header Widget-->
        <div class="header-widget">
          <!-- User Menu-->
          <div class="user-menu">
            <div class="user-name"><span><img src="images/dashboard-avatar.jpg" alt=""/></span>Janusz Nowakowski</div>
            <ul>
              <li><a href="src/dashboard.html"><i class="sl sl-icon-settings"></i> Moje wizyty</a></li>
              <li><a href="dashboard-my-profile.html"><i class="sl sl-icon-user"></i> Profil</a></li>
              <li><a href="index.html"><i class="sl sl-icon-power"></i> Wyloguj</a></li>
            </ul>
          </div><a class="button border with-icon" href="tel:622-14-14"><i class="sl sl-icon-phone"></i> Infolinia 622-14-14</a>
        </div>
        <!-- Header Widget / End-->
      </div>
      <!-- Right Side Content / End-->
    </div>
  </div>
  <!-- Header / End-->
</header>
<div class="clearfix"></div>
<!-- Header Container / End-->