include header.pug
body
    #wrapper
        include menu.pug
    //
      Content
      ==================================================
    // Container
    .container
        .row.icons-container.margin-top-40.mobile-hidden
            .col-md-8.col-md-push-2
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Doctor
                        p.box-level Etap 1
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Credit-Card2
                        p.box-level Etap 2
                .col-md-3
                    .icon-box-register.with-line.icon-box-selected
                        i.im.im-icon-Calendar-4
                        p.box-level
                            strong Etap 3
                .col-md-3
                    .icon-box-register
                        i.im.im-icon-Checked-User
                        p.box-level Etap 4
        .row
            .col-md-12
                    .row.margin-top-20
                    .col-md-10.col-md-push-1
                        section#confirment
                            h1.margin-bottom-35.text-center Weryfikacja danych
                            .col-md-12
                                .row(style="text-align:center; border: 1px solid #eee;")
                                    .col-md-12.register-grey-box2
                                        .col-md-4
                                            strong Dane lekarza:
                                            p Janina
                                                br
                                                | Nowoczyk

                                        .col-md-4
                                            strong Termin Wizyty :
                                            p 25 czerwiec 2018
                                                br
                                                | godzina 16:00

                                        .col-md-4
                                            strong Miejsce Wizyty :
                                            p Szujskiego 33/12
                                                br
                                                | 33-100 Tarnów
                                    .col-md-12
                                        .col-md-4
                                            strong Dane Pacjenta:
                                            p Tomasz Nowak

                                        .col-md-4
                                            strong Numer Kontaktowy:
                                            p 889-397-069
                                        .col-md-4
                                            strong Sposób Płatności :
                                            p
                                                i.im.im-icon-Money-2
                                                |  Bezpośrednio gotówką
                                            //  i.im.im-icon-Credit-Card2
                                                |  Karta
                                    .col-md-12.register-grey-box(style="text-align:center")
                                        .col-md-4
                                            strong Typ wizyty:
                                        .col-md-4
                                            | Podstawowe Badania ogólne
                                        .col-md-4
                                            | 130 pln
                            .col-md-12.padding-bottom-30
                                p
                                    h4( style='display: inline-block; float: left;') Wprowadź poniżej otrzymany kod sms w celu potwierdzenia wizyty:
                                    input.sms(type='text' size='4' maxlength='4')
                            .col-md-12
                                p
                                    a.button << Wstecz
                                    a.button.align-left Dalej >>

    // Container / End
    include scripts
    include footer.pug
