include header.pug
body
        // Wrapper
        #wrapper
            //
            include menu.pug
            //
              Content
              ==================================================
            // Map Container
            .contact-map.margin-bottom-60
                // Google Maps
                #singleListingMap-container
                    #singleListingMap(data-latitude='40.70437865245596', data-longitude='-73.98674011230469', data-map-icon='im im-icon-Map2')
                // Google Maps / End
                // Office
                .address-box-container
                    .address-container(data-background-image='images/our-office.jpg')
                        .office-address
                            h3  Grupa Medycyna Polska
                            ul
                                li ul. Medyczna 33
                                li Warszawa
                // Office / End
            .clearfix
            // Map Container / End
            // Container / Start
            .container
                .row.margin-bottom-50
                    // Contact Details
                    .col-md-4
                        h4.headline.margin-bottom-30
                        // Contact Details
                        .sidebar-textbox
                            p
                                | Zapraszamy do komunikacji za pomocą dedykowanej infolinii telefonicznej oraz formularza poczty elektorniczne.
                            ul.contact-details
                                li
                                    i.im.im-icon-Phone-2
                                    strong Telefon:
                                    span (123) 123-456
                                li
                                    i.im.im-icon-Fax
                                    strong Fax:
                                    span (123) 123-456
                                li
                                    i.im.im-icon-Envelope
                                    strong E-Mail:
                                    span
                                        a(href='#') biuro@grupamedycynapolska.pl
                    // Contact Form
                    .col-md-8
                        section#contact
                            h4.headline.margin-bottom-35 Formularz Kontaktowy
                            #contact-message
                            form#contactform(method='post', action='src/contact.php', name='contactform', autocomplete='on')
                                .row
                                    .col-md-6
                                        div
                                            input#name(name='name', type='text', placeholder='Twoje imie', required='required')
                                    .col-md-6
                                        div
                                            input#email(name='email', type='email', placeholder='Adres e-mail', pattern='^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$', required='required')
                                div
                                    input#subject(name='subject', type='text', placeholder='Temat', required='required')
                                div
                                    textarea#comments(name='comments', cols='40', rows='3', placeholder='Treść wiadomości', spellcheck='true', required='required')
                                input#submit.submit.button(type='submit', value='Wyślij wiadomość')
                    // Contact Form / End
            // Container / End
            include footer
        // Wrapper / End
        //
          Scripts
          ==================================================
        script(type='text/javascript', src='scripts/jquery-2.2.0.min.js')
        script(type='text/javascript', src='scripts/jpanelmenu.min.js')
        script(type='text/javascript', src='scripts/chosen.min.js')
        script(type='text/javascript', src='scripts/slick.min.js')
        script(type='text/javascript', src='scripts/rangeslider.min.js')
        script(type='text/javascript', src='scripts/magnific-popup.min.js')
        script(type='text/javascript', src='scripts/waypoints.min.js')
        script(type='text/javascript', src='scripts/counterup.min.js')
        script(type='text/javascript', src='scripts/jquery-ui.min.js')
        script(type='text/javascript', src='src/scripts/tooltips.min.js')
        script(type='text/javascript', src='scripts/custom.js')
        // Maps
        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&language=en')
        script(type='text/javascript', src='src/scripts/infobox.min.js')
        script(type='text/javascript', src='scripts/markerclusterer.js')
        script(type='text/javascript', src='scripts/maps.js')

