include header.pug
body
    // Wrapper
    #wrapper
        include menu.pug
    //
      Content
      ==================================================
    // Container
    .container
        .row.icons-container.margin-top-40.mobile-hidden
            .col-md-8.col-md-push-2
                .col-md-3
                    .icon-box-register.with-line.icon-box-selected
                        i.im.im-icon-Doctor
                        p.box-level
                            strong Etap 1
                .col-md-3
                    .icon-box-register.with-line
                        i.im.im-icon-Credit-Card2
                        p.box-level Etap 2
                .col-md-3
                    .icon-box-register.with-line
                        i.im.im-icon-Calendar-4
                        p.box-level Etap 3
                .col-md-3
                    .icon-box-register
                        i.im.im-icon-Checked-User
                        p.box-level Etap 4
        .row
            .col-md-12
                    .row.margin-top-20
                        .col-md-8
                            section#contact
                                h1.margin-bottom-35 Formularz Rejetracji
                                #contact-message
                                form(method='post', action='#', name='registerform', autocomplete='on').form.with-forms
                                    .row
                                        .col-md-12
                                            strong Wybierz usługę:
                                                span.red-mark *
                                    .row.padding-bottom-10
                                        .col-md-12.padding-bottom-10
                                            select(required='required').chosen-select-no-single
                                                option Badania ogólne
                                                option Specjalistyka
                                    .row
                                        .col-md-12
                                            strong Dane pacjenta:
                                                span.red-mark *
                                    .row
                                        .col-md-6
                                            div
                                                input#name(name='name', type='text', placeholder='Imie', required='required')
                                        .col-md-6
                                            div
                                                input#email(name='surname', type='text', placeholder='Nazwisko', required='required')
                                    .row
                                        .col-md-6
                                            div
                                                input#subject(name='pesel', type='text', placeholder='Numer Pesel', required='required')
                                        .col-md-6
                                            div
                                                input#subject(name='phone', type='text', placeholder='Numer telefonu', required='required')
                                    .row
                                        .col-md-12.margin-bottom-40
                                            i.im.im-icon-Information
                                            small
                                                i  Podany numer telefonu zostanie wykorzystany do kontaktu w związku z wizytą.

                                    .row
                                        .col-md-12
                                            strong Określ profil wizyty:
                                                span.red-mark *
                                        .col-md-6
                                            // More Search Options

                                            div.padding-bottom-10#check-first
                                                input(type='checkbox', name='check-first')
                                                label To moja pierwsza wizyta
                                        .col-md-6
                                            div.padding-bottom-10#check-second
                                                input(type='checkbox', name='check-second')
                                                label Byłem już u tego lekara
                                    .row
                                        .col-md-12
                                            strong Regulamin serwisu
                                                span.red-mark *
                                            div.padding-bottom-10
                                                input#check-rules(type='checkbox', name='check-rules')
                                                label(for='check-rules')  Akteptuje regulamin
                                            // Checkboxes / End
                                            small.red-mark * Wymagane są wszystkie pola.
                                            br
                                            br
                                            input#submit.submit.button(type='submit', value='Dalej >>')
                        .col-md-4.padding-bottom-40.padding-top-40
                            .text-center.background-grey
                                h4 Dane Lekarza:
                                img(src='./images/happy-client-01.jpg')
                                p Janina Nowoczyk
                                    br
                                    | Specjalista / NFZ

                                h4.padding-top-15 Termin Wizyty :
                                p
                                    i.im.im-icon-Timer
                                    | 16:00
                                    br
                                    | 25 czerwiec 2018
                                h4.padding-top-15 Lokalizacja :
                                p
                                    i.im.im-icon-Location-2
                                    |  Kapielowa 33
                                    br
                                    | 66-000 Warszawa
    // Container / End
    include scripts
    script.
        $("#check-first").click(function () {
            if ($(this).find('input:checkbox[name=check-first]').is(":checked")) {
                $(this).find('input:checkbox[name=check-first]').prop("checked", false);
        } else {
        $(this).find('input:checkbox[name=check-first]').prop("checked", true);
        $('input:checkbox[name=check-second]').prop("checked", false);
        }
        });

        $("#check-second").click(function () {
            if ($(this).find('input:checkbox[name=check-second]').is(":checked")) {
                $(this).find('input:checkbox[name=check-second]').prop("checked", false);
            } else {
                $(this).find('input:checkbox[name=check-second]').prop("checked", true);
                $('input:checkbox[name=check-first]').prop("checked", false);
            }
        });

    include footer.pug


