include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Titlebar
          ==================================================
        #titlebar
            .container
                .row
                    .col-md-12
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='#') Strona główna
                                li Nie znaleziono
        //
          Content
          ==================================================
        // Container
        .container
            .row
                .col-md-12
                    section#not-found.center
                        h2
                            | 404
                            i.fa.fa-question-circle
                        p Przykro nam ale strona której szukasz nie istnieje.
                        // Search
                        .row
                            .col-lg-8.col-lg-offset-2
                                .main-search-input.gray-style.margin-top-50.margin-bottom-10
                                    .main-search-input-item
                                        | Za chwile zostaniesz przekierowany na stronę główną
                        // Search Section / End
        // Container / End

        include footer.pug
