include header.pug
body
        // Wrapper
        #wrapper
            include menu.pug
        //
          Titlebar
          ==================================================
        #titlebar.gradient
            .container
                .row
                    .col-md-12
                        h2 Program ZdrowJa
                        span Dołącz do programu
                        // Breadcrumbs
                        nav#breadcrumbs
                            ul
                                li
                                    a(href='#') Strona Główna
                                li Formularz rezerwacji
        //
          Content
          ==================================================
        .container
            // Blog Posts
            .blog-page
                .row
                    // Post Content
                    .col-lg-12.col-md-12
                        h3.padding-bottom-30 I. Etap Pierwszy
                        .col-md-6
                            #health-pick.health-pick.text-center
                                i.im.im-icon-Credit-Card2
                                |  Posiadam karte
                        .col-md-6
                            #health-pick2.health-pick.text-center
                                i.im.im-icon-Hand-Touch2
                                |  Nie posiadam karty
                        // Blog Post
                        h3.padding-bottom-20 II. Etap Drugi
                        .health-post.single-post
                            // Content
                            .post-content
                                h3 Formularz rejestracji
                                // Details
                                form.health-form
                                    .row
                                        .col-md-12
                                            label
                                                | Numer Karty
                                                span.red-mark *
                                            input(value='999987189300', type='text')
                                        .col-md-6
                                            label
                                                | Imię:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-6
                                            label
                                                | Nazwisko:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-6
                                            label Data urodzenia
                                            input#date(type='text', placeholder='RRRR-MM-DD')
                                        .col-md-6
                                            label Tel. komórkowy
                                            input(type='text')
                                        .col-md-12
                                            label
                                                | Adres e-mail:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-12.margin-bottom-40
                                            label
                                                | Powtórz adres e-mail:
                                                span.red-mark *
                                            input(type='text')
                                        .col-md-12.checkboxes-text.margin-bottom-20
                                            input#giodo-agree(type='checkbox', name='giodo-agree' value='giodo-agree')
                                            span.red-mark *
                                            span.giodo-agree  Wyrażam zgodę na przetwarzanie moich danych osobowych podanych na formularzu rejestracyjnym przez CenterMed Sp. z o.o. z siedzibą przy Placu Jana III Sobieskiego 2, 33-100 Tarnów oraz spółki zależne i powiązane z CenterMed oraz Partnerów Programu ZdrowJa na podstawie zawartych umów, dla celów marketingu oraz oferowania i sprzedaży usług i produktów spółek zależnych i powiązanych z CenterMed oraz Partnerów Programu ZdrowJa.
                                        .col-md-12.checkboxes-text.margin-bottom-20
                                            input#giodo2-agree(type='checkbox', name='giodo2-agree' value='giodo2-agree')
                                            span.giodo2-agree W związu z wymogami ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144 z 9 września 2002 r., poz. 1204) oraz ustawą z dnia 16 lipca 2004 r. (art. 172) prawo telekomunikacyjne (Dz.U. z 2014 poz. 243), niniejszym wyrażam zgodę na przesyłanie do mnie informacji handlowych środkami komunikacji elektronicznej w zakresie wskazanym w w/w zgodzie na przetwarzanie danych osobowych.
                                        .col-md-12.checkboxes-text.margin-bottom-20
                                            input#marketing-agree2(type='checkbox', name="marketing-agree2" value='marketing-agree2')
                                            span.marketing-agree2 Wyrażam zgodę na wykorzystywanie przez CenterMed Sp. z o.o., telekomunikacyjnych urządzeń końcowych, w tym telefonów i automatycznych systemów wywołujących dla celów marketingu bezpośredniego.
                                        .col-md-12.checkboxes-text
                                            input#marketing-mail(type='checkbox', name="marketing-mail" value='marketing-mail')
                                            span.marketing-mail Wyrażam zgodę na wykorzystywanie przesyłanie ofert reklamowych drogą elektroniczną.
                                // health form end
                                p
                                    small
                                        | Administratorem danych osobowych jest CenterMed Sp. z o.o., z siedzibą w Tarnowie (33-100) przy Placu Jana III Sobieskiego 2. Informujemy, że podanie danych jest dobrowolne oraz przysługuje Pani/Panu prawo dostępu do treści danych osobowych i ich poprawiania oraz żądania ich usunięcia.
                                        | Lista podmiotów wchodzących w skład Grupy CenterMed oraz Partnerów Programu ZdrowJa znajduje się na stronie:
                                        a(href='http://www.centermed.pl')  www.centermed.pl
                                        |  oraz
                                        a(href='http://www.programzdrowja.pl>')  www.programzdrowja.pl
                                button(type='submit').button.margin-top-15 Zatwierdz
                                .clearfix
                        // Blog Post / End
                    // Content / End
            //
              Footer
              ==================================================
            include footer.pug
        //
          Scripts
          ==================================================
        include scripts.pug
        script(type='text/javascript').
            $(".giodo-agree").click(function () {
                if ($('#giodo-agree').is(":checked")) {
                    $('#giodo-agree').prop("checked", false);
                } else {
                    $('#giodo-agree').prop("checked", true);
                }
            });
            $(".giodo2-agree").click(function () {
                if ($('#giodo2-agree').is(":checked")) {
                    $('#giodo2-agree').prop("checked", false);
                } else {
                    $('#giodo2-agree').prop("checked", true);
                }
            });
            $(".marketing-agree2").click(function () {
                if ($('#marketing-agree2').is(":checked")) {
                    $('#marketing-agree2').prop("checked", false);
                } else {
                    $('#marketing-agree2').prop("checked", true);
                }
            });
            $(".marketing-mail").click(function () {
                if ($('#marketing-mail').is(":checked")) {
                    $('#marketing-mail').prop("checked", false);
                } else {
                    $('#marketing-mail').prop("checked", true);
                }
            });
            $("#health-pick").click(function () {
                $(this).addClass('health-selected');
                $("#health-pick2").removeClass('health-selected');
            });
            $("#health-pick2").click(function () {
                $(this).addClass('health-selected');
                $("#health-pick").removeClass('health-selected');
            });
