include header.pug
body
    include menu.pug
    //
      Content
      ==================================================
    // Container
    .container
        .row
            .col-md-12
                .row.margin-top-20
                    .col-md-push-2.col-md-8
                        section#confirmation-sucess
                            h1.text-center.margin-bottom-35 Dołączono do programu!

                        div.text-center.padding-top-30
                            i.im.im-icon-Yes.success-icon
                            p.green-mark.padding-top-30
                                |  Gratulacje! - pomyślnie dołączyłeś do programu ZdrowJa.

    // Container / End
include footer.pug
include scripts.pug
