include header.pug
body
    // Wrapper
    #wrapper
        include menu.pug
    //
      Content
      ==================================================
    // Container
    .container
        .row.icons-container.margin-top-40.mobile-hidden
            .col-md-8.col-md-push-2
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Doctor
                        p.box-level Etap 1
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Credit-Card2
                        p.box-level Etap 2
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Calendar-4
                        p.box-level Etap 3
                .col-md-3
                    .icon-box-register.icon-box-selected
                        i.im.im-icon-Checked-User
                        p.box-level
                            strong Etap 4
        .row
            .col-md-12
                    .row.margin-top-20
                        .col-md-push-2.col-md-8
                            section#confirmation-sucess
                                h1.text-center.margin-bottom-35 Potwierdzenie wizyty!

                                div.text-center.padding-top-30
                                    i.im.im-icon-Yes.success-icon
                                    p.green-mark.padding-top-30
                                        |  Gratulacje! - dokonałeś rezerwacji terminu
                                        br
                                        strong do lek. med. Anna Dębicka
                                        |    w dniu
                                        strong  21 listopada 2017
                                        |  godzina
                                        strong  11:45

                                    small Jeżeli chcesz odwołać wizytę, zrób to ze swojego konta lub poprzez link który otrzymałeś na pocztę e-mail.


    // Container / End
    include scripts
    include footer.pug


