include header.pug
body
    // Wrapper
    #wrapper
        include menu.pug
    //
      Content
      ==================================================
    // Container
    .container
        .row.icons-container.margin-top-40.mobile-hidden
            .col-md-8.col-md-push-2
                .col-md-3
                    .icon-box-register.with-line.icon-box-success
                        i.im.im-icon-Doctor
                        p.box-level Etap 1
                .col-md-3
                    .icon-box-register.with-line.icon-box-selected
                        i.im.im-icon-Credit-Card2
                        p.box-level
                            strong Etap 2
                .col-md-3
                    .icon-box-register.with-line
                        i.im.im-icon-Calendar-4
                        p.box-level Etap 3
                .col-md-3
                    .icon-box-register
                        i.im.im-icon-Checked-User
                        p.box-level Etap 4

        .row.margin-top-20
            .col-md-push-2.col-md-8
                form#payment
                    h1.text-center.margin-bottom-35 Wybierz preferowaną metode płatności
                    .row
                        .col-md-12
                            strong Sposób płatności:
                                span.red-mark *
                    .row.padding-bottom-10
                        .col-md-12
                            select(required='required').chosen-select-no-single
                                option Bezpośrednio gotówką
                                option Kartą płatniczą
                    .row.margin-top-30
                        .col-md-12
                            a.button << Wstecz
                            input#submit.submit.button.align-left(type='submit', value='Dalej >>')

    // Container / End
    include scripts
    include footer.pug


