//
  Scripts
  ==================================================
script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.0.js')
script(type='text/javascript', src='scripts/jpanelmenu.min.js')
script(type='text/javascript', src='scripts/chosen.min.js')
script(type='text/javascript', src='scripts/slick.min.js')
script(type='text/javascript', src='scripts/rangeslider.min.js')
script(type='text/javascript', src='scripts/waypoints.min.js')
script(type='text/javascript', src='scripts/jquery-ui.min.js')
script(type='text/javascript', src='scripts/placeholders.jquery.js')
script(type='text/javascript', src='scripts/select2.min.js')
script(type='text/javascript', src='scripts/custom.js')
