include header
body.container
    .row
        .col-md-12
            h2 Front
            ul
                li
                    a(href='index.html') Index
                li
                    a(href='listings-places.html') Places
                li
                    a(href='listings-list-with-sidebar.html') Search and listings
                li
                    a(href='listings-single-page.html') Single Page
                li
                    a(href='listings-vendor.html') Vendor
                li
                    a(href='pages-404.html') 404
                li
                    a(href='pages-contact.html') Contact
                li
                    a(href='pages-full-width.html') Full Width
                li
                    a(href='pages-health-form.html') Health Form
                li
                    a(href='pages-health-form-success.html') Health Form  Success
            h2 Register Form
            ul
                li
                    a(href='pages-register.html') Register 1
                li
                    a(href='pages-register-step2.html') Register 2
                li
                    a(href='pages-register-step3.html') Register 3
                li
                    a(href='pages-register-step4.html') Register 4
            h2 Konto Basic
            ul
                li
                    a(href='acount-basic.html') Basic
                li
                    a(href='acount-settings.html') Settings
                li
                    a(href='acount-logout.html') Logout

            h2 Konto Premium
            ul
                li
                    a(href='acount-basic.html') Basic
                li
                    a(href='acount-hospital.html') Hospital
                li
                    a(href='acount-logout.html') Logout
                li
                    a(href='acount-places.html') Places
                li
                    a(href='acount-points.html') Points
                li
                    a(href='acount-premium.html') Premium
                li
                    a(href='acount-questions.html') Questions
                li
                    a(href='acount-settings.html') Settings

            h2 Konto Operatora
            ul
                li
                    a(href='acount-operator-contact.html') Contact
                li
                    a(href='acount-operator-workers.html') Workers
                li
                    a(href='acount-operator-specs.html') Specs
                li
                    a(href='acount-operator-services.html') Services
                li
                    a(href='acount-operator-zdrowja.html') Zdrowja
                li
                    a(href='acount-operator-register.html') Register
                li
                    a(href='acount-operator-places.html') Places
                li
                    a(href='acount-operator-list.html') List
